@model AspMvcFlightsApp.Models.CityData

<h2>Редактирование города</h2>
<form method="post"
      asp-route="dashboard"
      asp-route-controller="City"
      asp-route-action="Edit"
      asp-route-id="@Model.Id">

    <div class="mb-3">
        <label asp-for="Title"
               class="form-label">Название: </label>
        <input asp-for="Title"
               class="form-control" />
        <span asp-validation-for="Title" />
    </div>
    <div class="mb-3">
        <button type="submit"
                class="btn btn-success">
            Сохранить
        </button>
    </div>

</form>